.fieldset{
    display: block;
     -webkit-margin-start: 2px;
    -webkit-margin-end:2px;
    -webkit-padding-before:0.35em;
    -webkit-padding-after:0.625em; 
    -webkit-padding-start: 0.75em;
    -webkit-padding-end:0.01em;


    border-width:2px;
    border-style: groove;
    border-color: grey;
    /* border-color: threedface; */
    border-image: initial;
    
    /*width: 100%;*/
}

  